<div class="bg-gray-200 font-sans leading-normal tracking-normal">

  <!-- Hero section -->
  <section class="hero-section bg-white py-20">
      <div class="container mx-auto px-4">
          <div class="max-w-2xl mx-auto text-center">
            <h1 class="text-5xl font-black mb-4">Simplify Expense Tracking using AI-Powered Invoice Processing</h1>
            <p class="text-lg mb-8">Upload your invoices, extract data effortlessly, and gain powerful insights instantly.</p>

          </div>
      </div>
  </section>

  <!-- Features section -->
  <section class="bg-gray-200 py-20">
      <div class="container mx-auto px-4">
          <div class="max-w-2xl mx-auto text-center">
              <h2 class="text-3xl font-bold mb-6">Key Features</h2>

          </div>
          <div class="flex items-stretch h-full -mx-4 mt-12">
              <div class="flex-1 feature-card   w-full md:w-1/4 px-4 mb-8">
                  <div class="rounded-md h-full bg-white shadow-md p-8">
                      <div class="text-4xl font-bold text-purple-600 mb-4">01</div>
                      <h3 class="text-2xl font-bold mb-2">Automated Invoice Processing</h3>
                      <p class="text-gray-700">Our tool uses Azure AI Document Intelligence to automate the extraction of data from Invoice.</p>
                  </div>
              </div>
              <div class="flex-1  feature-card w-full md:w-1/4 px-4 mb-8">
                  <div class="rounded-md h-full bg-white shadow-md p-8">
                      <div class="text-4xl font-bold text-purple-600 mb-4">02</div>
                      <h3 class="text-2xl font-bold mb-2">Real-Time Analytics</h3>
                      <p class="text-gray-700">See immediate insights from your data via interactive dashboards.</p>
                  </div>
              </div>

              <div class="flex-1  feature-card w-full md:w-1/4 px-4 mb-8">
                  <div class="rounded-md h-full bg-white shadow-md p-8">
                      <div class="text-4xl font-bold text-purple-600 mb-4">03</div>
                      <h3 class="text-2xl font-bold mb-4">Secure & Reliable</h3>
                      <p class="text-gray-700">We ensure the highest level of security to protect your data.</p>
                  </div>
              </div>
              <div class="flex-1  feature-card w-full md:w-1/4 px-4 mb-8">
                  <div class="rounded-md h-full bg-white shadow-md p-8">
                      <div class="text-4xl font-bold text-purple-600 mb-4">04</div>
                      <h3 class="text-2xl font-bold mb-4">Scalable Solution</h3>
                      <p class="text-gray-700">Our tool is designed to scale with your business, from small to large enterprises.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>

<section class="py-16 bg-gray-100">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-8">How It Works</h2>
    <div class="space-y-8">

<div class=" w-full py-24  bg-gray-800 p-4">
  <div class="grid gap-14 md:grid-cols-3 md:gap-5 ">
    <div class="rounded-xl how-it-works-card bg-white p-6 text-center shadow-xl">
      <div
        class="mx-auto flex h-16 w-16 -translate-y-12 transform items-center justify-center rounded-full bg-teal-400 shadow-lg shadow-teal-500/40">
        <i class="fas fa-file-upload text-3xl text-primary "></i>
      </div>
      <h1 class="text-darken mb-3 text-xl font-medium lg:px-14">Upload Your invoice</h1>
      <p class="px-4 text-gray-500">Upload your PDF documents to the platform for processing.</p>
    </div>
    <div data-aos-delay="150" class="rounded-xl how-it-works-card bg-white p-6 text-center shadow-xl">
      <div class="mx-auto flex h-16 w-16 -translate-y-12 transform items-center justify-center rounded-full shadow-lg bg-rose-500 shadow-rose-500/40">
        <i class="fas fa-cogs text-3xl text-secondary "></i>
      </div>
      <h1 class="text-darken mb-3 text-xl font-medium lg:px-14 ">AI-Powered Data Extraction</h1>
      <p class="px-4 text-gray-500">The system automatically extracts key data points from the invoice.</p>
    </div>
    <div data-aos-delay="300" class="rounded-xl how-it-works-card bg-white p-6 text-center shadow-xl">
      <div
        class="mx-auto flex h-16 w-16 -translate-y-12 transform items-center justify-center rounded-full shadow-lg bg-sky-500 shadow-sky-500/40">
        <i class="fas fa-chart-bar text-3xl text-primary"></i>

      </div>
      <h1 class="text-darken mb-3 pt-3 text-xl font-medium lg:h-14 lg:px-14">Data Visualization</h1>
      <p class="px-4 text-gray-500">View actionable insights through dynamic charts and graphs.</p>
    </div>
  </div>

</div>

 </div>
    </div>
  </section>


  <!-- Use Cases Section -->
  <section class="py-20 bg-white">
    <div class="container px-20">
        <h2 class="text-3xl font-bold text-center mb-8">Use Cases</h2>
        <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-14">
            <!-- Use Case 1 -->
            <div class="group  use-case-card bg-[#5700c9] w-full mx-auto p-8 px-6 rounded-lg">
                <div class="flex justify-end">
                    <i class="fas fa-calculator group-hover:-translate-y-6 duration-700 text-[60px] text-[#7812ff]"></i>
                </div>
                <p class="pt-16 group-hover:-translate-y-2 duration-700 text-2xl text-[#f2f2f2] font-bold">
                    For Accountants
                </p>
                <p class="text-gray-200 font-light text-sm mt-4 ">
                    Effortlessly manage and organize client financial records,
                    ensuring accuracy and compliance while saving time.
                    From invoicing to tax preparation, our solution
                    simplifies every aspect of accounting, giving you more
                    time to focus on providing value to your clients.
                </p>
            </div>
            <!-- Use Case 2 -->
            <div class="group  use-case-card bg-[#6C0345] w-full mx-auto p-8 px-6 rounded-lg">
                <div class="flex justify-end">
                    <i class="fas fa-briefcase group-hover:-translate-y-6 duration-700 text-[60px] text-[#ffedc57a]"></i>
                </div>
                <p class="pt-16 group-hover:-translate-y-2 duration-700 text-2xl text-[#f2f2f2] font-bold">
                    For Business Owners
                </p>
                <p class="text-gray-100 font-light text-sm mt-4">
                    Take control of your business finances with an
                    intuitive platform designed for simplicity and efficiency.
                    Whether it’s managing payroll, tracking expenses, or
                    forecasting growth, our tools empower you to make
                    informed decisions and drive your business forward.
                </p>
            </div>
            <!-- Use Case 3 -->
            <div class="group  use-case-card bg-[#cf021a] w-full mx-auto p-8 px-6 rounded-lg">
                <div class="flex justify-end">
                    <i class="fas fa-user-md group-hover:-translate-y-6 duration-700 text-[60px] text-[#f569797a]"></i>
                </div>
                <p class="pt-16 group-hover:-translate-y-2 duration-700 text-2xl text-[#f2f2f2] font-bold">
                    For Healthcare
                </p>
                <p class="text-gray-100 font-light text-sm mt-4">
                    Seamlessly manage patient information, appointments, and
                    invoicing with a solution tailored to the unique needs of
                    healthcare providers. Enhance the patient experience by
                    focusing on care, while our system takes care of the
                    administrative tasks with precision and security.
                </p>
            </div>
        </div>
    </div>
</section>



  <!-- Testimonials Section -->


  <!-- Footer Section -->
  <footer class="bg-gray-50">
    <div class="container px-4 mx-auto">
      <div class="pt-24 pb-11 mx-auto max-w-4xl"><a class="block md:mx-auto mb-5 max-w-max" href="#">
         <img src="../../../assets/viewvoice.png" alt="juniors++" class="w-[14rem] logomenu">
        </a>
        <div class="flex footer justify-center space-x-20 pt-6 navlink">
          <a  class="footer" href="https://facebook.com" target="_blank" rel="noopener noreferrer">
              <img src="https://img.icons8.com/fluent/30/000000/facebook-new.png" />
          </a>
          <a class="footer" href="https://linkedin.com" target="_blank" rel="noopener noreferrer">
              <img src="https://img.icons8.com/fluent/30/000000/linkedin-2.png" />
          </a>
          <a class="footer"  href="https://instagram.com" target="_blank" rel="noopener noreferrer">
              <img src="https://img.icons8.com/fluent/30/000000/instagram-new.png" />
          </a>
          <a class="footer" href="https://messenger.com" target="_blank" rel="noopener noreferrer">
              <img src="https://img.icons8.com/fluent/30/000000/facebook-messenger--v2.png" />
          </a>
          <a class="footer" href="https://twitter.com" target="_blank" rel="noopener noreferrer">
              <img src="https://img.icons8.com/fluent/30/000000/twitter.png" />
          </a>
      </div>
      </div>
    </div>
    <div class="border-b logomenu border-gray-100"></div>
    <div class="container px-4 mx-auto">
      <p class="py-10 md:pb-20 text-md text-gray-400 font-medium text-center">
        © 2024 imriel.com.
        All rights reserved.
      </p>
    </div>
  </footer>
