<header class="inset-0 h-[70px] z-50 border-b border-slate-100 bg-white/80 backdrop-blur-lg fixed">
  <nav class="mx-auto flex  max-w-[124rem] px-6 w-full justify-between items-center transition-all duration-200 ease-in-out py-2 navbar">
    <!-- Logo -->
    <div class="relative cursor-pointer flex gap-x-4 items-center logo-container">
      <a href="">
        <img src="../../../../assets/viewvoice.png" alt="ViewVoice" class="w-[11rem] logo -mt-3">
      </a>
      <div class="h-[48px] border-l-2"></div>
      <img src="../../../assets/Imriel x allata logo.png" alt="ViewVoice" class="w-[18rem] logo">
    </div>

    <!-- Navbar Links -->
     <div>
      <ul class="hidden md:flex items-center justify-center gap-10">
        <li class="-pt-1.5 font-dm font-medium text-slate-700 cursor-pointer nav-link">
          <a (click)="navigateToContact()" class="nav-link">Contact</a>
        </li>
        <li class="-pt-1.5 font-dm font-medium text-slate-700 cursor-pointer">
          <a href="doc" class="nav-link">How to Use</a>
        </li>
      </ul> <!-- Mobile Menu Button -->
      <div class="relative flex items-center justify-center md:hidden">
        <button type="button" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-6 w-auto text-slate-900">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
        </button>
      </div></div>






  </nav>
</header>
