<div id="contact-us" class="overflow-hidden text-gray-800 py-16 px-4 bg-white border-2 w-[90vw] text-cemter sm:px-6 lg:px-8 lg:py-24">
  <div class="relative mx-auto w-[50%]">
      <svg class="absolute left-full translate-x-1/2 transform" width="404" height="404" fill="none"
          viewBox="0 0 404 404" aria-hidden="true">

          <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)"></rect>
      </svg>
      <svg class="absolute right-full bottom-0 -translate-x-1/2 transform" width="404" height="404" fill="none"
          viewBox="0 0 404 404" aria-hidden="true">

          <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)"></rect>
      </svg>
      <div class="text-center">
          <h2 class="text-3xl font-extrabold tracking-tight text-gray-800 sm:text-4xl">Contact Us
          </h2>
          <p class="mt-4 text-lg leading-6 text-gray-800 dark:text-slate-400">Please use the form below to contact us.
              Thank you!
          </p>
      </div>
      <div class="mt-12">
          <form class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8" action="https://formsubmit.co/783958ecd8519547b3e79f5c6c195bea" method="POST">
              <div class="sm:col-span-2">
                  <label for="name" class="block text-sm font-medium text-gray-800  dark:text-gray-800">Name</label>
                  <div class="mt-1">
                      <input name="name" type="text" id="name" autocomplete="organization" required="" class="border border-gray-300 block w-full rounded-md py-3 px-4 shadow-sm focus:border-sky-500 focus:ring-sky-500 dark:border-white/5 bg-gray-200/50 dark:text-gray-700">
                  </div>
              </div>
              <div class="sm:col-span-2">
                  <label for="email" class="block text-sm font-medium text-gray-700 dark:text-gray-800">Email</label>
                  <div class="mt-1">
                      <input name="email" id="email" required="" type="email" autocomplete="email" class="border border-gray-300 block w-full rounded-md py-3 px-4 shadow-sm focus:border-sky-500 focus:ring-sky-500 dark:border-white/5  dark:text-gray-700 bg-gray-200/50 ">
                  </div>
              </div>
              <div class="sm:col-span-2">
                  <label for="message" class="block text-sm font-medium text-gray-700 dark:text-gray-800">Message</label>
                  <div class="mt-1">
                      <textarea required="" name="message" id="message" rows="4" class="border border-gray-300 block w-full rounded-md py-3 px-4 shadow-sm focus:border-sky-500 focus:ring-sky-500 bg-gray-200/50  dark:border-white/5  dark:text-gray-700"></textarea>
                  </div>
              </div>
              <div class="flex justify-end sm:col-span-2">
                  <button type="submit" class="inline-flex items-center rounded-md px-4 py-2 font-medium focus:outline-none focus-visible:ring focus-visible:ring-sky-500 shadow-sm sm:text-sm transition-colors duration-75  bg-gradient-to-tl from-pink-400 to-purple-600  text-white disabled:cursor-not-allowed">
                      <span>Send Message</span>
                  </button>
              </div>
          </form>
      </div>
  </div>
</div>
