.print-pdf{
    flex-direction: row;
    background-color: #FFF !important;
}


.order-date {
  margin-right: 20px; /* Adjust as needed */
}

.grand-total {
  margin-left: 20px;
}

.table-row-height td {
  padding: 5px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 0px !important;
   border-bottom-style: solid;
}

/* Full-screen overlay */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Ensure it's on top of other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Spinner container to center it */
.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

